version: "3"
services:
  postgres:
    container_name: postgres
    image: postgres:latest
    volumes:
      - /data/postgres:/data/postgres
    env_file:
      - docker.env
    networks:
      - postgres

  pgadmin:
    links:
      - postgres:postgres
    container_name: pgadmin
    image: dpage/pgadmin4
    ports:
      - "8080:80"
    volumes:
      - /data/pgadmin:/root/.pgadmin
    env_file:
      - docker.env
    networks:
      - postgres

  nestjs-api:
    image: nestjs-api
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - postgres

networks:
  postgres:
    driver: bridge